<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Memsource Projects</a>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" ngbDropdown>
        <a class="nav-link" style="cursor: pointer" ngbDropdownToggle id="navbarDropdown2" role="button">
          <span *ngIf="isSignedIn()">{{credentials.username}}</span>
          <span *ngIf="!isSignedIn()">Sing in</span>
        </a>
        <div ngbDropdownMenu aria-labelledby="navbarDropdown2" class="dropdown-menu dropdown-menu-right">
          <a role="button" ngbDropdownItem (click)="open(null)">Sign in as...</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
